<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NodeJs|<%=title%></title>
</head>
<body>
    <nav>
        <div class="site-title">
            <a href="/"><h1>Blogs Ritesh</h1></a>
            <p>This is Blogs page</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blog</a></li>            
        </ul>
    </nav>
    <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto necessitatibus laboriosam mollitia pariatur adipisci fugiat delectus quasi impedit eius, neque, nulla ipsam reprehenderit recusandae perferendis molestias amet! Voluptatibus veniam aspernatur est repellat harum, eligendi exercitationem nulla molestiae, laboriosam quo ex cupiditate porro doloribus? Libero repudiandae iusto optio mollitia sequi exercitationem.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto necessitatibus laboriosam mollitia pariatur adipisci fugiat delectus quasi impedit eius, neque, nulla ipsam reprehenderit recusandae perferendis molestias amet! Voluptatibus veniam aspernatur est repellat harum, eligendi exercitationem nulla molestiae, laboriosam quo ex cupiditate porro doloribus? Libero repudiandae iusto optio mollitia sequi exercitationem.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto necessitatibus laboriosam mollitia pariatur adipisci fugiat delectus quasi impedit eius, neque, nulla ipsam reprehenderit recusandae perferendis molestias amet! Voluptatibus veniam aspernatur est repellat harum, eligendi exercitationem nulla molestiae, laboriosam quo ex cupiditate porro doloribus? Libero repudiandae iusto optio mollitia sequi exercitationem.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto necessitatibus laboriosam mollitia pariatur adipisci fugiat delectus quasi impedit eius, neque, nulla ipsam reprehenderit recusandae perferendis molestias amet! Voluptatibus veniam aspernatur est repellat harum, eligendi exercitationem nulla molestiae, laboriosam quo ex cupiditate porro doloribus? Libero repudiandae iusto optio mollitia sequi exercitationem.</p>
    </div>
</body>
</html>